
.axure-design{
    max-width: 1508px;
    margin: 0 auto;

}
.bunner-axure {
    position: relative;
    background-image: url(/AXIT/images/Design_Bunner.png);
}
.main-axure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* color: white;
    max-width: 100%; */
    position: relative;
    height: 422px;
}

.bg-fon{
    background-color:rgba(0,0,0,0.5);
    height:100%;
    position:absolute;
    width:100%;
}

.title-axure{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subtitle-axure{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.line-axure{
    width: 170px;
}
.line-us{width: 170px;
    height: 0px;
    border: 1px solid #EC7979;}

.btn-axure {
    width: 370px;
    height: 58px;
    margin-top: 20px;
    background-color: rgba(236, 121, 121, 0);
    border: 2px solid #FFFFFF;
    cursor: pointer;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.btn-axure:hover {
    border: 2px solid #AB4949;
    background-color: rgba(171, 73, 73, 1);
    color: rgb(255, 255, 255);
}
.btn-axure:active {
    background-color: rgba(236, 121, 121, 1);
    box-shadow: inset 0px 0px 10px #AB4949;
    border: none;
    color: #FFFFFF;
}


.contact-us {
    max-width: 1508px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 721px;
    justify-content: space-evenly;
}
.title-us{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #000000;
}
.subtitle-us{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
.card-input-us {
    max-width: 1510px; 
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card-name-us {
    max-width: 570px;
    margin: 15px;
}
.card-message-us{
    max-width: 570px;
    margin: 15px;
}
  
 .card-name-us #names {
    width: 560px;
    height: 35px;
    margin-top: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
}
.card-name-us #Emails {
    width: 560px;
    height: 35px;
    margin-top: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
}
.card-name-us #Passwords {
    width: 560px;
    height: 35px;
    margin-top: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
}

.btn-us {
    width: 370px;
    height: 58px;
    background-color: rgba(236, 121, 121, 1);
    border: 2px solid #FFFFFF;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    cursor: pointer;
}
.btn-us:hover {
    border: 2px solid #AB4949;
    background-color: rgba(171, 73, 73, 1);
    color: rgb(255, 255, 255);
}
.btn-us:active {
    background-color: rgba(236, 121, 121, 1);
    box-shadow: inset 0px 0px 10px #AB4949;
    border: none;
    color: #FFFFFF;
}

textarea {
    position: relative;
    margin-top: 7%;
    height: 150px;
    width: 560px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    resize: none;
}

.footer-icon-social {
    max-width: 1508px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle-footer {
    margin: 0 auto 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.icon-footer img {
    margin: 39px 23px;
}

.icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}