
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');


@import url(header.css);
@import url(tabs.css);
@import url(awesome.css);
@import url(pricing.css);
@import url(drsignUsFooter.css);
@import url(customers.css);

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 460px) {
    .social-media{
        text-align: center;
    }
    .main-media{
        padding: 0 40px;
    }
    .social-icon img{
        width: 7%;
    }
    .icon-footer img{
        width: 5%;
        margin: 15px;
    }
    .subtitle-footer{
        font-size: 14px;
        margin: 10%;
    }
}